:root {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Prevents side-to-side scrolling */
}

#root {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; 
}